{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance already Submitted</title>
    <link rel="stylesheet" href="{% static 'StudentView/alreadysubmitted.css' %}" />
  </head>
  <body>
    <header class="header">
      <h1 class="header-title">Jain College of Engineering and Technology, Hubballi</h1>
      <h2>Attendance Portal</h2>
    </header>

    <div class="container">
      <h2>You have already submitted the Attendance!</h2>
      <br/>
    </div>

   
  </body>
</html>